name: CI

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8cfb93e4f2aa815112e80d49781dd73a4fbeef4e # v4.2.2

      - name: Install Rust
        uses: dtolnay/rust-toolchain@6255b92812bf51d292e488b61469267a391267f6 # master

      - name: Run tests
        run: cargo test --all --locked
