name: Release

on:
  push:
    tags:
      - "v*"

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8cfb93e4f2aa815112e80d49781dd73a4fbeef4e # v4.2.2

      - name: Install Rust
        uses: dtolnay/rust-toolchain@6255b92812bf51d292e488b61469267a391267f6 # master

      - name: Publish to crates.io
        env:
          CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
        run: cargo publish
